.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    min-width: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:white;
    border-color: transparent;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: #203040;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


/*Header*/
header{
    width: 100%;
    grid-area: header;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);
    margin: 0%;
}

header a {
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 0.9rem 0.7rem;
}

header a:hover {
    color:white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #d0d0d0;
}
.logo {
    font-size: 19px;
    float: left;
}
.logo img{
    width: 100px;
    height:50px;
}
.brand a{
    font-size: 3rem;
}
.navbar{
    width: 100%;
    font-family: 'Segoe Ui';
    background-color: var(--main-color);
}
/* .navbar-brand{
    float:left;
    text-decoration: none;

}
.navbar-nav {
    margin: 0%;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
    display: inline !important;

}
.navbar-nav .nav-item a {
    text-decoration: none;
    display: inline-block;
    padding: 0.9em 0.7em;
} */

.toggle-collapse {
    float: right !important; 
    width: 45px;
    height: 32px;
    margin: 0.4rem 0.7rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
} 

/*Body */
* {
box-sizing: border-box;
}
:root {
    --main-color: #203040;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.h2, h2 {
    font-size: 2rem;
    font-weight: bold;
}
body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}
h1{
    font-weight: bold !important;
    padding:5px;
}


h3 {
    font-weight: bold !important;
    padding: 19px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    color:var(--main-color);
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

/*Button*/
.btn, .delete-button, #logout-button, .back-button, button {
    font-size: 15px !important;
}

button{
    cursor:pointer;
}
button, input{
    font: 2.5rem helvetica;
    font-size: 12px !important;
    padding: 1rem;
    border: 0.1rem gray solid;
    border-radius: 0.5rem;
    width: 100%;
}

#payment-form input {
    /* float: left; */
    /* width: 75%; */
    margin-left: -78px;
    margin-right: -75px;
    margin-top: 3px;
}
 #payment-form label {
     /* margin: 0px;
     margin-right: 100px; */
    width: 100px;
    float: left;
    text-align: center;
    margin-left: 10px;
}


.btn{
    background-color: var(--main-color);
    color: white;
    border: blue 1px;
    width: 50%;
    height: 50%;
    border-radius:10px;
    margin-bottom: 11px;
    }
.btn a{
    color: white;
    border: blue 1px;        
    }
.delete-button, .btn-danger{
    padding:-5px;
    border-radius: 10px;
    margin-top: -22px;

}
.delete-button{
    max-width: 50%;
}
/*Footer*/
footer{
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px 3px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 
    0 3px 15px 5px rgba(0,0,0,.12),  0 3px 15px 10px rgba(0,0,0,.12),  0 10px 15px 10px rgba(0,0,0,.12);

}
footer a {
    color:#ffffff;
    margin: 0.5rem;
}
footer a:hover {
    color:#ffffff;
    margin: 0.5rem;
}
/* Products */

.products{ 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.products li{
    flex: 0 1 30rem;
    height: 42rem;
    margin: 10px;
    padding: 19px;
    border: 0.4rem #e0e0e0 solid;
    display: block;

}
.products li:hover {
    cursor: pointer !important;
    box-shadow: 7px 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);
}
.product {
    display: contents;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}
.products button{
    width:100%;
}


.product img {
    max-height: 21rem;
    max-width: 22rem;
    margin-top: 2rem;
    padding-top: 2rem;
    align-content: center;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand {
    font-size: 1.2rem;
    color:#808080;
}
.product-price{
    line-height:2.5;
    font-size: 2rem;
}

button.disabled {
    /* color:#ffffff;
    background-color: red; */
    border-color:black !important;
    cursor: no-drop !important;
  }


/*Rating */
.rating {
    color:var(--main-color);
    font-size: 1.3rem;
}
.rating span:last-child{
    font-size: 1.4rem;
}

/*404 Error image */
.error-img img {
    height: 400px;
    max-width: 400px;
    width: 100%;
}
.error {
    margin-bottom: 30px;

}
.back-button {
    margin-top: 19px;
    max-height: 50px;
    min-height: 50px;
    min-width: 100px;
    max-width: 25%;
    color: white;
  border-color: var(--main-color) solid;
}
.back-button:hover{
  color: white;
  border-color: var(--main-color) solid;

}

/*Product details*/

.content {
    padding:1rem;
}

.details {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.details-image {
    flex:3 1 60rem;

    max-width:100% ;
}
.details-image img {
    max-width: 40rem;
    width:100%;
    height:381.991px;
}
.details-info, .details-action{
    flex: 1 1 30rem;

}
.details-info ul, .details-action ul {
    padding: 0;
    list-style-type: none;
}
.details-info h1 {
    font-size: 2rem;
    margin: 0;
}
.details-info li,
.details-action li {
    margin-bottom: 1rem;
}
.details-action {

    border:0.1rem #808080 solid;
    border-radius :0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}
.success{
    color: #40c040;
}
.error{
    color: red;   
}

/* Cart */

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}
.cart-browse-btn {
    margin-left: 15px;
}

.cart button {
    width: 100%;
}

.cart-list {
    flex: 3 1 60rem;
}
.cart-list-container {
    padding: 1rem;
    list-style-type: none;

}
.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem grey solid;

}
.cart-list-container li:first-child{
    align-items: flex-end;
}
.cart-image {
    flex: 1 1;
}
.cart-name{
    flex: 8 1;
}
.cart-price{
    flex: 1 1;
    text-align: right;
}


.cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
}

.cart-action{
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
}
.cart-name > div {
    padding: 1rem;

}
.qty-select{
    margin:1rem;
}
.cart-list h3{
    margin: 0;
}

.cart-list button,
.cart-list select{
    font-size: 1.3rem;
    padding: 0.5rem;
}




/* Form  */
form{
    border-radius: 0.5rem;
    border: 0.1rem #c0c0c0 solid;
    box-shadow: 5px 3px 5px -1px rgba(0,0,0,.2), 
    0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    margin: 3.4rem;   
}
.form-container button{
    width: 100%;
    height: 4rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style-type: none;
    margin-bottom: 1px;
}


.form-items li {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form-items h1 {
    font-size: 2.5rem;
}
.form-items div{
    text-align: center;
}

#register-form {
margin: 3rem;
}

/* Message Overlay */

.overlay {

    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.50);
}
.overlay.active{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay.active p{
    margin-top: 45px;
    margin-left: -135px;
    position: relative;
    color: black;
}

.overlay > div {
    background-color: white;
    color: #000000;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
    width: 100%;
    text-align: center;
}

.overlay > div > * {
  margin: 2rem;
  width: 89%;
}
button {
    font-size: 3rem;

}
/* Checkout  */
button#checkout-button {
    width: 50% !important;
    margin-bottom: 14px;
    /* padding: 1rem; */
    /* height: 40px; */
}


.checkout-steps {
    display: flex;
    justify-content: space-between;
     width: 40rem;
     margin: 1rem auto;
}

.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
}
.checkout-steps > div.active {
    /* color: #f08000;
    border-top-color: #f08000; */
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/* Order */
.order-info > div > div {
    padding: 1rem;

}
.order h2, h1 {
    margin-left: 4rem;
    margin-top: 2rem;
    }
    .order div {
        margin-left:2rem;
    }
    .order h2 {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    
    .order-number  div{
        margin-left:2rem;
    }
    


.order{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

.order-info > div:first-child {
margin-top: 0;
padding: 5px;

}
.order-info > div:last-child {
    margin-bottom: 0;
    padding: 10px;
    
    
    }


.order .cart-list-container {
    padding: 0;
}

.order-info > div {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem; 
}

.order-info {
    flex: 3 1 60rem;
}

.order-action{
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
}

.order-action > ul {
    padding: 0;
    list-style-type: none;

}

.order-action li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.order-action .total {
    font-size: 2rem;
    font-weight: bold;
    color: #104982;
    /* #2a4ec3 */
}