 .navbar{
    width: 100%;
    font-family: 'Segoe Ui';
    background-color: var(--main-color);
}
/* .navbar-brand{
    float:left;
    text-decoration: none;

}
.navbar-nav {
    margin: 0%;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
    display: inline !important;

}
.navbar-nav .nav-item a {
    text-decoration: none;
    display: inline-block;
    padding: 0.9em 0.7em;
} */

.toggle-collapse {
    float: right !important; 
    width: 45px;
    height: 32px;
    margin: 0.4rem 0.7rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
} 



/*Body */
* {
box-sizing: border-box;
}
:root {
    --main-color: #203040;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}
h1{
    font-weight: bold;
    padding:19px;
}


h3 {
    font-weight: bold;
    padding: 19px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    color:var(--main-color);
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

/*Button*/
button{
    cursor:pointer;
}
button, input{
    font: 2.5rem helvetica;
    font-size: 12px !important;
    padding: 1rem;
    border: 0.1rem gray solid;
    border-radius: 0.5rem;
    width: 100%;
    /* text-align: center; */

}
button:hover, input:hover{
    /* border: 0.1rem #404040 solid; */

}




.btn{
    background-color: var(--main-color);
    color: white;
    border: blue 1px;
    width: 50%;
    height: 50%;
    border-radius:10px ;
    margin-bottom: 11px;

    }
.btn a{
    color: white;
    border: blue 1px;        
    }
.delete-button{
    padding:-5px;
}

/*Header*/
header{
    width: 100%;
    grid-area: header;
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);
    margin: 0%;
}

header a {
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 0.9rem 0.7rem;
    
}


header a:hover {
    color:white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #d0d0d0;
}
.logo {
    font-size: 19px;
    float: left;
}
.logo img{
    width: 100px;
    height:50px;
}
.brand a{
    font-size: 3rem;
}
/*Footer*/
footer{
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px 3px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 5px rgba(0,0,0,.12),  0 3px 15px 10px rgba(0,0,0,.12),  0 10px 15px 10px rgba(0,0,0,.12);

}
footer a {
    color:#ffffff;
    margin: 0.5rem;
}
footer a:hover {
    color:#ffffff;
    margin: 0.5rem;
}
/* Products */

.products{ 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.products li{
    flex: 0 1 30rem;
    height: 42rem;
    margin: 10px;
    padding: 19px;
    border: 0.4rem #e0e0e0 solid;
    display: block;

}
.products li:hover {
    cursor: pointer !important;
    /* background-color:#ffd9d7; */
    box-shadow: 7px 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);

}
.product {
    display: contents;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}
.products button{
    width:100%;
}


.product img {
    max-height: 21rem;
    max-width: 22rem;
    margin-top: 2rem;
    padding-top: 2rem;
    align-content: center;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand {
    font-size: 1.2rem;
    color:#808080;
}
.product-price{
    line-height:2.5;
    font-size: 2rem;
}

button.disabled {
    /* color:#ffffff;
    background-color: red; */
    border-color:black !important;
    cursor: no-drop !important;
  }


/*Rating */
.rating {
    color:var(--main-color);
    font-size: 1.3rem;
}
.rating span:last-child{
    font-size: 1.4rem;
}

/*404 Error image */
.error-img img {
    height: 400px;
    max-width: 400px;
    width: 100%;
}
.error {
    margin-bottom: 30px;

}
.back-button {
    margin-top: 19px;
    max-height: 50px;
    min-height: 50px;
    min-width: 100px;
    max-width: 25%;
    color: white;
  border-color: var(--main-color) solid;
}
.back-button:hover{
  color: white;
  border-color: var(--main-color) solid;

}

/*Product details*/

.content {
    padding:1rem;
}

.details {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
/* margin: 15px; */
}

.details-image {
    flex:3 1 60rem;

    max-width:100% ;
}
.details-image img {
    max-width: 40rem;
    width:100%;
    height:381.991px;
}
.details-info, .details-action{
    flex: 1 1 30rem;

}
.details-info ul, .details-action ul {
    padding: 0;
    list-style-type: none;
}
.details-info h1 {
    font-size: 2rem;
    margin: 0;
}
.details-info li,
.details-action li {
    margin-bottom: 1rem;
}
.details-action {

    border:0.1rem #808080 solid;
    border-radius :0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}
.success{
    color: #40c040;
}
.error{
    color: red;   
}

/* Cart */

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

.cart button {
    width: 100%;
}

.cart-list {
    flex: 3 1 60rem;
}
.cart-list-container {
    padding: 1rem;
    list-style-type: none;

}
.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem grey solid;

}
.cart-list-container li:first-child{
    align-items: flex-end;
}
.cart-image {
    flex: 1 1;
}
.cart-name{
    flex: 8 1;
}
.cart-price{
    flex: 1 1;
    text-align: right;
}

.cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
    /* padding: 1rem; */
}

.cart-action{
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
}
.cart-name > div {
    padding: 1rem;

}
.qty-select{
    margin:1rem;
}
.cart-list h3{
    margin: 0;
}

.cart-list button,
.cart-list select{
    font-size: 1.3rem;
    padding: 0.5rem;
}

/* Form  */
form{
    border-radius: 0.5rem;
    border: 0.1rem #c0c0c0 solid;
    box-shadow: 5px 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 3px 15px 0 rgba(0,0,0,.12);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}
.form-container button{
    width: 100%;
    height: 4rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style-type: none;
    margin-bottom: 10px;
}


.form-items li {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form-items h1 {
    font-size: 2.5rem;
}
.form-items div{
    text-align: center;
}

