* {
box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}
h3 {
    font-weight: bold;
    padding: 19px;
}


a{
    color: black;
    text-decoration: none;
}
a:hover {
    color:rgb(241, 23, 23);
}
/*Header*/
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
}
header a:hover {
    color:rgb(241, 23, 23);
    font-weight: bold;
    text-decoration: none;
}
.logo img{
    width: 100px;
    height:50px;
}

.brand a{
    font-size: 3rem;
}

/*Footer*/
footer{
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

/* Products */

.products{ 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.products li{
    flex: 0 1 30rem;
    height: 42rem;
    margin: 10px;
    padding: 19px;
    border: 0.4rem #e0e0e0 solid;
}
.products li:hover {
    background-color:#ffd9d7;
}
.product {
    display: contents;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.product img {
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}

.product-name{
    line-height: 2.2rem;
}
.product-brand {
    font-size: 1.2rem;
    color:#808080;
}
.product-price{
    line-height:2.5;
    font-size: 2rem;
}